<!DOCTYPE html>
<html>
    <body ng-app='app' ng-controller="the_c">
        <section ng-click="box.select(0);"></section>
        <section ng-click="box.select(1);"></section>
        <section ng-click="box.select(2);"></section>
        <div></div>
        <br/>
        <section ng-click="box.select(3);"></section>
        <br/>
        <section ng-click="box.select(4);"></section>
        <section ng-click="box.select(5);"></section>
        <section ng-click="box.select(6);"></section>
    </body>
</html>    
